
<h5>Login:</h5>

<form class="login">
    <div><input type="email" placeholder="email" name="email" required></div>
    <div><input type="password" placeholder="password" name="password" required></div>
    <div class="editor-controls button-holder">
    <button>Login</button>
    </div>
</form>
<br>
<h5>Register here:</h5>

<form class="register">
    <div><input type="email" placeholder="email" name="email" required></div>
    <div><input type="password" placeholder="password" name="password1" required></div>
    <div><input type="password" placeholder="repeat password" name="password2" required></div>
    <div class="editor-controls button-holder">
    <button>Submit</button>
    </div>
</form>